<footer>
   <section id="features">
      <div class="container-fluid">
         <div class="feature-box col-lg-4">
            <i class="fa-solid fa-user-tie icon"></i>
            <h4>Customer Care</h4>
         </div>
         <div class="feature-box col-lg-4">
            <i class="fa-solid fa-ticket icon"></i>
            <h4>Resend Booking Confirmation</h4>
         </div>
         <div class="feature-box col-lg-4">
            <i class="fa-solid fa-envelope-open-text fa-bounce icon"></i>
            <h4>Subscribe to our Newsletter</h4>
         </div>
      </div>

      <div class="container-fluid" style="text-align: left; padding-left: 10%;">
         <div class="feature-box col-lg-4" style="display: inline;">
            <h4><strong>Partnership</strong></h4>
            <h5>Websites</h5>
            <h5>Social Media</h5>
            <h5>Branding</h5>
         </div>
         <div class="feature-box col-lg-4" style="display: inline;">
            <h4><strong>About</strong></h4>
            <h5>Our Projects</h5>
            <h5>Careers</h5>
         </div>
         <div class="feature-box col-lg-4" style="display: inline;">
            <h4><strong>Support</strong></h4>
            <h5>Request</h5>
            <h4>Contact us: </h4>
            <i class="fa-solid fa-phone"></i>
            <h5 class="contact-detail-footer"> +91 - 9562845803</h5><br><br>
            <i class="fa-solid fa-envelope"></i>
            <h5 class="contact-detail-footer"> abc@gmail.com</h5>
         </div>
      </div>

      <!-- Social Media Handles -->
      <div class="social-media">
         <i class="fa-brands fa-twitter social-icon twitter"></i>
         <i class="fa-brands fa-facebook social-icon facebook"></i>
         <i class="fa-brands fa-linkedin social-icon linkedin"></i>
         <i class="fa-brands fa-instagram social-icon instagram"></i>
         <i class="fa-brands fa-youtube social-icon youtube"></i>
      </div>

   </section>
</footer>