<nav class="navbar navbar-expand bg-body-tertiary">
  <div class="container">
    <p class="navbar-brand">THE SOLUTION!</p>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item" id="home"><a class="nav-link" href="./existing-audi"><button class="btn">EXISTING
            AUDIS</button></a></li>
      <li class="nav-item" id="home"><a class="nav-link" href="./addAudi"><button class="btn">ADD YOUR AUDI</button></a>
      </li>
      <li class="nav-item" id="home"><a class="nav-link" href="./profile"><button class="btn">PROFILE</button></a></li>
      <li class="nav-item" id="home"><a class="nav-link" href="/"><button class="btn">LOG OUT</button></a></li>
    </ul>
  </div>
</nav>