<%- include("./partials/header"); -%>

   <body class="home-body">
      <%- include("./partials/navbarSeats") -%>

         <div>
            <h1 class="p-signup home-text"><strong>Wohoo! Congratulations!!<br><br>Your ticket has been
                  confirmed!✨✨</strong></h1>
         </div>

         <%- include("./partials/footerBootstrap") -%>