<%- include("./partials/header"); -%>

   <body class="home-body">
      <nav class="navbar navbar-expand bg-body-tertiary">
         <div class="container">
           <p class="navbar-brand">THE SOLUTION!</p>
           <ul class="nav navbar-nav navbar-right">
             <li class="nav-item" id="home"><a class="nav-link" href="./"><button class="btn">HOME</button></a></li>
           </ul>
         </div>
       </nav>

         <div>
            <h1 class="p-signup home-text"><strong>Your response has been recorded.<br><br>Thank you for helping us improve! </strong></h1>
         </div>

<%- include("./partials/footerBootstrap") -%>