<%- include("./partials/header"); -%>

   <body class="home-body">
      <%- include("./partials/navbarSignUp"); -%>
         <p class="p-signup home-text">Having a boring weekend? Lose yourself in the world of ecstasy - where you find
            music, dance, love, thrill and ... yourself. Once again.</p>
         <%- include("./partials/footer"); -%>
            <%- include("./partials/footerBootstrap"); -%>